/* .signup-container
{
    padding: 12%;
}
.signup-container .steps
{
    padding-bottom: 5%;
}
.signup-container .steps-content{
    padding-left: 20%;
}
.signup-container .steps-action{
    padding-left: 20%;
    padding-top: 3%;
} */